<!DOCTYPE html>
<!-- FOOTER START -->
<br>
<br>
<footer class="footer">
  <div class="container">
    <div class="content has-text-centered is-white">
      <p>
        <strong>Project Management Panel</strong> by Agustinus and Albert. The source code is licensed
        at Hacktiv8.
      </p>
      <p>
        <a class="icon" href="https://github.com/jgthms/bulma">
        <i class="fa fa-github"></i>
      </a>
      </p>
    </div>
  </div>
</footer>
<!-- FOOTER END -->
