<!DOCTYPE html>
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <div class="navbar-menu">
      <div class="navbar-start">
        <div class="navbar-item has-dropdown">
          <a class="navbar-link">
            Docs
          </a>
      </div>
      <div class="navbar-end">
        <!-- navbar items -->
      </div>
      </div>
  </div>
</nav>
