<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <form action="<%=editUserTask.id%>" method="post">
            Task:<br>
            <input type="text" name="task" value="<%=editUserTask.task%>">
            <br><br>
            Status
            <input type="text" name="status" value="<%=editUserTask.status%>">
            <br><br>
            User_ProjectId
            <input type="text" name="name" value="<%=editUserTask.ProjectId%>">
            <br><br>
            <input type="submit" value="Submit">
     </form>
</body>
</html>
