<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head')%>
</head>
<body>
<%- include('./partials/header')%>
<!-- HERO SECTION -->
<div class="container-fluid">
  <section class="hero is-info">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Hello
        </h1>
        <h2 class="subtitle">
          Welcome to Project Management Panel!
        </h2>
      </div>
    </div>
  </section>
</div>
<!-- HERO SECTION END -->
<%- include('./partials/footer')%>
</body>
</html>
