<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login</title>
  <% include ./partials/head %>
</head>
<body>
  <% if(hasOwnProperty('error')){%>
    <div class="notification is-danger">
      <button class="delete"></button>
      <strong>Please insert correct username and password</strong>
    </div>
  <% } %>
  <form action="login" method="post">
  <div class="login-wrapper columns">
  <div class="tile is-ancestor">
  <div class="tile is-parent">
  </div>
  <div class="tile is-parent is-6">
      <div class="column is-12">
        <section class="hero is-fullheight">
          <div class="hero-body">
            <div class="container">
              <div class="columns">
                <div class="column is-8 is-offset-2">

                  <h1 class="avatar has-text-centered section">
                    <h1 class="title has-text-centered ">Welcome to Project Management Admin Panel</h1>
                  </h1 >
                  <h1 class="has-text-centered section">
                  </h1>
                  <div class="login-form">
                    <p class="control has-icon has-icon-right">
                      <input class="input email-input" name="username" type="text" placeholder="Username" required>
                      <span class="icon user">
                        <i class="fa fa-user"></i>
                      </span>
                    </p>
                    <br/>
                    <p class="control has-icon has-icon-right">
                      <input class="input password-input" name="password" type="password" placeholder="●●●●●●●" required>
                      <span class="icon user">
                        <i class="fa fa-lock"></i>
                      </span>
                    </p>
                    <br/>
                    <p class="control login">
                      <button class="button is-primary is-outlined is-large is-fullwidth">Login</button>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
  </div>
  <div class="tile is-parent">
  </div>
</div>
  </div>
  </form>
</body>
</html>
