<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Project Management App</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
</head>
<body>
  <div class="container-fluid">
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>ID</th>
          <th>Project Name</th>
          <th colspan="2">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>ID</td>
          <td>Project Name</td>
          <td><a href="#">Edit</td>
          <td><a href="#">Delete</td>
        </tr>
    </table>
  </div>
</body>
</html>
