<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Project Management App</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
</head>
<body>
  <div class="container-fluid">
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th colspan="2">Options</th>
        </tr>
      </thead>
      <tbody>
        <%dataProjects.forEach(function(showProjects){%>
            <tr>
                <td><%=showProjects.id%></td>
                <td><%=showProjects.name%></td>
                <td><a href="project/edit/<%=showProjects.id%>">Edit</a></td>
                <td><a href="project/delete/<%=showProjects.id%>">Delete</a></td>
              </tr>
       <% })%>
    </table>
  </div>

</body>
</html>
